## 학습목표
 * 반복문의 이해 및 활용 (for)
 * range 함수 이해

### for 반복문 
 - 리스트, 문자열 등등 순회 가능한 객체를 순회하면서 값을 처리할 때 사용
 - 아래와 같은 문법으로 사용
 - 여기서 i는 매번 수행 될 때마다, a의 아이템으로 순차적으로 변경 됨
 - 모든 아이템이 순회되면 for 블록 종료
 
```python
a = [1, 2, 4, 3, 5]
for i in a:
    print (i, i * 2)
```

In [2]:
a = [1, 2, 4, 3, 5]

for i in a:           # i는 현재의 변수
    print (i, i * 2)
print("Hello python")

1 2
2 4
4 8
3 6
5 10
Hello python

#### 문자열의 아이템 출력하기
 - 문자열의 경우 순회 가능, 리스트의 유사하게 순회 가능

In [3]:
a = "Hello world"

for character in a:

    print(character)

H
e
l
l
o

w
o
r
l
d

In [4]:
for character in "Hello world":

    print(character)

H
e
l
l
o

w
o
r
l
d

In [3]:
# 순회가 가능하지 않는 경우, 에러 발생

for i in 10:
    print(i)

TypeError: 'int' object is not iterable

#### 리스트 아이템 출력하기

In [6]:
a = [1, 10, 3, 4, 5]
for num in a:
    if num % 2 == 0:
        print(num/2)
    else:
        print(num+1)

2
5.0
4
2.0
6

#### dict의 아이템 출력하기
  - dictionary의 경우 기본적으로 순회 하게 되면 key값을 참조
  - keys()함수를 이용하여 key 값만 순회 가능
  - values()함수를 이용하여 value 값만 순회 가능
  - items()함수를 이용하여 tuple형태로 key, value 순회 가능

In [7]:
a = {'korea' : 'seoul', 'japan' : 'tokyo', 'canada' : 'ottawa'}

for key in a:
    print(k, a[key])

korea seoul
japan tokyo
canada ottawa

In [4]:
a = {'korea' : 'seoul', 'japan' : 'tokyo', 'canada' : 'ottawa'}

for value in a.values():
    print(value)
    
print(list(a.items())) # 원소가 tuple인 list

seoul
tokyo
ottawa
[('korea', 'seoul'), ('japan', 'tokyo'), ('canada', 'ottawa')]

In [13]:
# tuple이면 , 를 이용해서 값을 한거번에 가지고 올 수 있음.

a = {'korea' : 'seoul', 'japan' : 'tokyo', 'canada' : 'ottawa'}

for key, value in a.items(): 
    print(key, value)

korea seoul
japan tokyo
canada ottawa

#### for에서 index 사용하기
  - 기본적으로 for에 리스트를 순회하는 경우, 값만 추출 함
  - 아래와 같은 코드로 인덱스와 값 모두 사용 가능(enumerate 함수 이용)

```python
a = [1, 2, 4, 3, 5]
for i, val in enumerate(a):
    print i, val
```

In [8]:
a = [1, 2, 4, 3, 5, 6, 7, 8, 9, 10]

for index, val in enumerate(a):
    if index > 3:
        print(index, val)

4 5
5 6
6 7
7 8
8 9
9 10

####  break
  - for의 경우에도 특정 조건일 때, loop 종료가 가능

In [13]:
num = [100, 90, 80, 70, 60, 50]

for num in a:
    if num < 80:
        break
    print(num)

100
90
80

#### continue
 - 해당 아이템을 건너 뛰고 싶을 때 사용

In [14]:
num = [100, 90, 80, 70, 60, 50]

for num in a: 
    if num >= 60 and num <= 70:
        continue
    print(num)

100
90
80
50

#### loop 중첩
  - 반복문의 경우에도 중첩하여 사용 가능
  - 중첩이라는 것은 반복문 블록의 코드안에 또 반복문의 코드가 작성되는 것을 의미
  - 이런 경우, 내부 루프는 외부 루프가 수행되는 만큼 반복 수행 됨
  - 또한 중첩의 경우 무한히 가능

```python
a = [1, 2, 4]
for i in a:
    for j in a:
        print i * j
```

In [6]:
a = [1, 2, 4]
for i in a:
    for j in a:
        print(i * j)

1
2
4
2
4
8
4
8
16

#### 구구단 출력하기

In [26]:
x = [1, 2, 4, 5, 6, 7, 8, 9, 10]

for i in x:
    print('"', i, '" 단', )
    for j in x:
        print(i, 'x', j, '=', i*j)

" 1 " 단
1 x 1 = 1
1 x 2 = 2
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
" 2 " 단
2 x 1 = 2
2 x 2 = 4
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
" 4 " 단
4 x 1 = 4
4 x 2 = 8
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
" 5 " 단
5 x 1 = 5
5 x 2 = 10
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
" 6 " 단
6 x 1 = 6
6 x 2 = 12
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
" 7 " 단
7 x 1 = 7
7 x 2 = 14
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
" 8 " 단
8 x 1 = 8
8 x 2 = 16
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
" 9 " 단
9 x 1 = 9
9 x 2 = 18
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
" 10 " 단
10 x 1 = 10
10 x 2 = 20
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [28]:
x = [2, 4, 5, 6, 7, 8, 9]
y = [1, 2, 3, 4, 5 ,6 , 7, 8, 9]

for i in x:
    print('---', i, '단 ---', )
    for j in y:
        print(i, 'x', j, '=', i*j)

--- 2 단 ---
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
--- 4 단 ---
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
--- 5 단 ---
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
--- 6 단 ---
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
--- 7 단 ---
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
--- 8 단 ---
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
--- 9 단 ---
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

#### collection의 길이
 - len() 내장함수로 계산 가능
 - 내장함수란 파이썬 내부에 구현되어 있어서, import하지 않고도 사용 가능한 함수를 의미
 - abs, len, type, range 등이 있음 (과정 진행하면서 필요할 때마다 다룰 예정)

In [29]:
a = [1, 2, 3, 4, 5]

print(a)
print(len(a))

[1, 2, 3, 4, 5]
5

#### range 함수
  - 리스트를 쉽게 만들 수 있는 내장함수
  - 주어진 값에 따라 다양한 결과를 반환
 
```python
range(10)       -> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(2, 10)    -> [2, 3, 4, 5, 6, 7, 8, 9]            # 끝은 포함 x
range(2, 10, 3) -> [2, 5, 8]                           # 2 부터 10까지 3씩 건너뜀
```

In [35]:
a = list(range(10))

print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
a = list(range(1, 10))

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

* 1 - 100까지의 리스트 생성하기

In [7]:
a = list(range(1, 101))

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

* **연습문제** 1부터 100사이의 5의 배수만을 갖는 리스트를 생성하시오

In [40]:
a = list(range(5, 101, 5))

print(a)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

### if & for 연습문제 (4문제)

1. 구구단을 2 - 9단까지 출력하시오.

In [72]:
x = 2

while x <= 9:
    y = 1  # 곱하는 y 는 항상 초기화가 되어야함.
    print('---', x, '단 ---')
    while y <= 9:
        print(x, 'x', y, '=',  x*y)
        y += 1
    x += 1

--- 2 단 ---
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
--- 3 단 ---
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--- 4 단 ---
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
--- 5 단 ---
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
--- 6 단 ---
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
--- 7 단 ---
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
--- 8 단 ---
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
--- 9 단 ---
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

2. 1 - 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오.

In [71]:
nums = list(range(1, 101))

for x in nums:
    if x % 2 == 0 or x % 11 == 0:
        print(x)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

3. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최소값과 최대값을 찾으시오. (sorted, sort 사용 금지)

In [49]:
# sort 함수(정렬) 사용한 경우

a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
a.sort()

print(a[0])
print(a[-1])

1
99

In [59]:
'''
1. 처음 만나는 값을 최소 값으로 가정
2. 그 후 숫자를 만날 때 마다 현재 최소값보다 그 숫자가 작으면 최소값을 그 숫자로 업데이트
'''

a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

_min = a[0]

for x in a:
    if x < _min:
        _min = x
        
print("_min :", _min)

_min : 1

In [58]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

_max = a[0]

for x in a:
    if x > _max:
        _max = x

print("_max :", _max)

_max : 99

In [65]:
# 최소, 최대값 동시에

a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

_min = a[0]
_max = a[0]

for x in a[1:]:  #첫 번째 x는 _min과 _max가 동일하기 때문에 a[0]으로 안해도 됨.
    if x < _min:
        _min = x
    if x > _max:
        _max = x

print("_min :", _min, " _max :", _max)

_min : 1  _max : 99

4. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하세요.

In [68]:
# while문

a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 

i = 0
_sum = 0

while i < len(a):
    _sum += a[i]
    i += 1
    
print("평균 : ", _sum / len(a))

평균 :  37.0

In [70]:
# for문

a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 

_sum = 0

for x in a:
    _sum += x

print("평균 : ", _sum / len(a))

평균 :  37.0